@font-face {
  font-family: "Gotham Pro Light";
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  background-color: #2c234c;
  color: #fff;
  font-family: "Gotham Pro", sans-serif;
  margin: 0px;
}
.header {
  padding-top: 50px;
}
.description {
  font-family: "Gotham Pro Light";
  letter-spacing: 0.12px;
  font-size: 12px;
  font-weight: bold;
}
.text-color-red {
  color: #ff3469;
  font-family: "Gotham Pro Medium";
}
.header-contacts {
  text-align: right;
}
.header-phone {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  display: block;
  font-weight: 500;
}
.header-info {
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
  display: block;
}
.callback {
  color: #ff3469;
  display: block;
  margin-top: 6px;
  font-size: 14px;
}
.flowers-slider {
  box-shadow: none;
  width: 100%;
  text-align: center;
  margin-bottom: 83px;
  margin-top: 87px;
}
:root {
  --swiper-navigation-size: 19 px;
}
.hero {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 77px;
  border-bottom: 1px solid #4c4c4c;
}
.hero-title {
  font-size: 54px;
  margin-bottom: 34px;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 0.9px;
  font-family: "Gotham Pro Medium";
  max-width: 700px;
  margin: auto;
}
.hero-description {
  font-family: "Gotham Pro Light";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 5;
}
.cta {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 36px;
  font-family: "Gotham Pro Light";
}
.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #ff2e55;
  font-size: 23px;
  padding-top: 30px;
  padding-bottom: 26px;
  padding-left: 65px;
  padding-right: 65px;
  margin-top: 36px;
  cursor: pointer;
  border: none;
}
.reviews {
  padding-top: 100px;
  padding-bottom: 50px;
}
.review-slide {
  padding-left: 60px;
  padding-right: 60px;
}
.review-slider {
  margin-top: 98px;
}

.review-image {
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-family: "Gotham Pro Light";
  position: relative;
  margin-right: 50px;
}
.review-name {
  margin-bottom: 7px;
}
.review-image > * {
  position: relative;
}
.review-image-1 {
  background: #000 url("../img/review-1/roses.png");
}
.review-image-2 {
  background: #005 url("../img/review-1/roses-2.png");
}
.review-image:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.review-text {
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 1.4;
}
.review-link {
  color: #f24841;
}
.section-title {
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.3px;
}
.advantages {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  border-bottom: 1px solid #4c4c4c;
}
.advantages-wrapper {
  min-height: 85px;
  margin-bottom: 30px;
}
.advantages-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.4;
  margin: auto;
}
.goods {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-description {
  font-size: 25px;
  text-align: center;
}
.card {
  text-align: center;
  border: 3px solid #ffffff;
  padding: 33px 35px 30px 35px;
  margin-top: 27px;
}
.card-title {
  margin-top: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.card-label {
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
}
.color-label {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.color-input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9;
}
.color-label.white {
  background-color: #fff;
}

.color-label.biege {
  background-color: rgb(199, 213, 148);
}

.color-label.pink {
  background-color: rgb(255, 1, 230);
}

.color-label.red {
  background-color: rgb(255, 0, 0);
}

.color-label.blue {
  background-color: rgb(4, 130, 255);
}
.counter-input {
  border: 2px solid #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: #292929;
  margin-left: 15px;
  margin-right: 15px;
}
.counter-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16 px;
  color: #fff;
  background-color: #292929;
  border: none;
}
.card-button {
  font-size: 14px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
}
.more {
  font-size: 14px;
  color: #f24841;
  display: block;
  text-align: center;
  margin-top: 39px;
  padding: 10px;
}
.more:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 4px;
  background: url(/img/caret.svg) no-repeat center;
  margin-left: 14px;
  vertical-align: middle;
}
.offer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1a1a1a;
  text-align: center;
}
.offer-link {
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-size: 30px;
  margin-bottom: 65px;
}
.offer-label {
  display: block;
  margin-bottom: 22px;
  font-size: 18px;
}
.offer-phone {
  text-decoration: none;
  color: #fff;
  font-size: 76 px;
  /* ФОНТ_ЗАЙЗ НЕ РАБОТАЕТ! Почему? */
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 33px;
}
.footer-menu-link {
  font-style: italic;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
.footer-menu-item {
  margin-right: 15px;
}
.social {
  font-size: 21px;
  font-style: italic;
  font-weight: bold;
}
.footer-label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}
.footer-info {
  text-align: right;
}
.footer-phone {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  display: block;
  margin-bottom: 12px;
}
.button {
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
}
.colors {
  min-width: 200px;
  margin: auto;
}
.card-label {
  margin: 20px auto;
  display: block;
}
.modal {
  display: none;
}
.modal-title {
  color: #5a0101;
}
.modal-button {
  width: 100%;
}
.number-phone {
  font-size: 35px;
}
.modal-input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.row-podval {
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
  .header-phone {
    text-align: center;
  }
  .header-info {
    text-align: center;
  }
  .callback {
    text-align: center;
  }
  .hero {
    padding-top: 50px;
  }
  .hero-title {
    font-size: 24px;
  }
  .header-contacts {
    text-align: center;
  }
  .footer-info {
    text-align: center;
  }
  .dost-opl-connect {
    text-align: center;
  }
  .footer-menu-item {
    text-align: center;
  }
}
